
<%- include('../layouts/header') %>
<body>
    <link rel="stylesheet" href="css/main.css">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">

					<a class="navbar-brand logo_h" href=""><img src="/assets/img/logoZephyr.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/shop">Product</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><%=locals.user?locals.user.Fname:'Login'%></a>
								<ul class="dropdown-menu">
									<% if (locals.user) { %>
										<li class="nav-item"><a class="nav-link" href="/profileDetails?id=<%= user._id %>">My Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="/orders?id=<%= user._id %>">Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/wishlist?id=<%= user._id %>">Wishlist</a></li>
										<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
									<% }else{ %>
										<li class="nav-item"><a class="nav-link" href="/profileDetails">My Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/wishlist">Wishlist</a></li>
										<li class="nav-item"><a class="nav-link" href="/register">Signup</a></li>
									<% } %>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span><i class="fa-solid fa-cart-shopping"></i></span></a></li>
							<li class="nav-item">
								<button class="search"><span id="search"><i class="fa-solid fa-magnifying-glass"></i></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="/searchProduct" method="get">
					<input type="text" class="form-control" id="search_input" name="search" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span id="close_search" title="Close Search"><i class="fa-solid fa-magnifying-glass"></i></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- start banner Area -->
	<section class="banner-area">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<% if(banners && banners.length > 0 ){ %>
							<% for(let i =0 ; i< 4 && i < banners.length ; i++) { %> 
						<div class="row single-slide align-items-center d-flex">
							<div class="col-lg-5 col-md-6 col-sm-6">
								<div class="banner-content">
									<h1><%= banners[i].head %></h1>
									<p><%= banners[i].subHead %></p>
								</div>
							</div>
							<div class="col-lg-7 col-md-6 col-sm-6">
								<div class="banner-img">
									<img class="img-fluid"  src="/assets/categoryImg/<%= banners[i].bannerImage %>" alt="">
								</div>
							</div>
						</div>
						<% } %>
						<% if(banners && banners.length === 1 ){ %>
							<div class="row single-slide align-items-center d-flex">
								<div class="col-lg-5 col-md-6 col-sm-6">
									<div class="banner-content">
										<h1>Zephyr</h1>
										<p>Discover iconic timepieces from renowned global watch brands. Luxury, craftsmanship, and heritage await on our platform</p>
									</div>
								</div>
								<div class="col-lg-7 col-md-6 col-sm-6">
									<div class="banner-img">
										<img class="img-fluid"  src="/assets/img/logoWhite.png" alt="">
									</div>
								</div>
							</div>
						<% } %>
						<% }else{ %> 
							<div class="row single-slide align-items-center d-flex">
								<div class="col-lg-5 col-md-6 col-sm-6">
									<div class="banner-content">
										<h1>Zephyr</h1>
										<p>Discover iconic timepieces from renowned global watch brands. Luxury, craftsmanship, and heritage await on our platform</p>
									</div>
								</div>
								<div class="col-lg-7 col-md-6 col-sm-6">
									<div class="banner-img">
										<img class="img-fluid"  src="/assets/img/logoWhite.png" alt="">
									</div>
								</div>
							</div>
							<div class="row single-slide align-items-center d-flex">
								<div class="col-lg-5 col-md-6 col-sm-6">
									<div class="banner-content">
										<h1>Zephyr</h1>
										<p>Discover iconic timepieces from renowned global watch brands. Luxury, craftsmanship, and heritage await on our platform</p>
									</div>
								</div>
								<div class="col-lg-7 col-md-6 col-sm-6">
									<div class="banner-img">
										<img class="img-fluid"  src="/assets/img/logoWhite.png" alt="">
									</div>
								</div>
							</div>
						<% } %>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start features Area -->
	<section class="features-area section_gap">
		<div class="container">
			<div class="row features-inner">
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assets/img/features/f-icon1.png" alt="">
						</div>
						<h6>Free Delivery</h6>
						<p>Free Shipping on all order</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assets/img/features/f-icon2.png" alt="">
						</div>
						<h6>Return Policy</h6>
						<p> 7-day return policy</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assets/img/features/f-icon3.png" alt="">
						</div>
						<h6>24/7 Support</h6>
						<p>Round-the-clock support for you</p>
					</div>
				</div>
				<!-- single features -->
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-features">
						<div class="f-icon">
							<img src="/assets/img/features/f-icon4.png" alt="">
						</div>
						<h6>Secure Payment</h6>
						<p>Trustworthy transactions guaranteed</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end features Area -->

	<!-- Start category Area -->
	<section class="category-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-sm-8">
					<div class="row">
						<% if (category[0]) { %>  
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid" style="width: 458px; height: 184px;" src="/assets/categoryImg/<%= category[0].imageUrl %>" alt="">
								<a href="/filterByCategory?sortBy=<%= category[0].name %>">
									<div class="deal-details">
										
										<h6 class="deal-title"><%= category[0].name %></h6>
									</div>
								</a>
							</div>
						</div>
						<% } %>
						<% if (category[1]) { %> 
						<div class="col-lg-4 col-sm-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid" style="width: 262px; height: 184px;" src="/assets/categoryImg/<%= category[1].imageUrl %>" alt="">
								<a href="/filterByCategory?sortBy=<%= category[1].name %>">
									<div class="deal-details">
										<h6 class="deal-title"><%= category[1].name %></h6>
									</div>
								</a>
							</div>
						</div>
						<% } %>
						<% if (category[2]) { %> 
						<div class="col-lg-4 col-sm-4">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid"  style="width: 262px; height: 184px;" src="/assets/categoryImg/<%= category[2].imageUrl %>" alt="">
								<a href="/filterByCategory?sortBy=<%= category[2].name %>">
									<div class="deal-details">
										<h6 class="deal-title"><%= category[2].name %></h6>
									</div>
								</a>
							</div>
						</div>
						<% } %>
						<% if (category[3]) { %>
						<div class="col-lg-8 col-md-8">
							<div class="single-deal">
								<div class="overlay"></div>
								<img class="img-fluid" style="width: 458px; height: 184px;"  src="/assets/categoryImg/<%= category[3].imageUrl %>" alt="">
								<a href="/filterByCategory?sortBy=<%= category[3].name %>">
									<div class="deal-details">
										<h6 class="deal-title"><%= category[3].name %></h6>
									</div>
								</a>
							</div>
						</div>
						<% } %>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-deal">
						<div class="overlay"></div>
						<img class="img-fluid w-100" src="/assets/img/category/c5.jpg" alt="">
						<a href=" ">
							<div class="deal-details">
								<h6 class="deal-title">Sneaker for Sports</h6>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End category Area -->

	<!-- start product Area -->
	<section class=" section_gap">
		<!-- single product slide -->
		<div class="">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Latest Products</h1>
							<p>Discover curated picks: top-selling, stylish watches recommended for you. 
								Elevate your style with our selection of handpicked timepieces.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->

					<% if(products && products.length > 0){ %>
					<% for(let i = 0 ; i< 8 && i< products.length ; i++){ %>
						<div class="col-6 col-lg-3">
							<div class="single-product">
								<a href="/singleProduct?id=<%= products[i]._id %>"><img class="img-fluid" style="width: 250px; height: 250px;" src="/assets/categoryImg/<%= products[i].image[0] %>" alt=""></a>
								<div class="product-details">
									<h6><%= products[i].productName %></h6>
									<div class="price">
										<h6>₹ <%= products[i].discountPrice %></h6>
										<h6 class="l-through">₹ <%= products[i].price %></h6>
									</div>
									<% if(products[i].offer.length > 0){ %> 
									<p class="text-success"><i class="fa-solid fa-tag" style="color: #308a00;"></i> Special Offer Available</p>
									<% }else{ %> <p> <hr></p><% } %>
									<div class="prd-bottom">
										<a onclick="addToCart(event, '<%= products[i]._id %>')" href="javascript:void(0);" class="social-info">
											<span class="fa-solid fa-cart-shopping"></span>
											<p class="hover-text">add to cart</p>
										</a>
										<a onclick="addToWishlist(event, '<%= products[i]._id %>')" href="javascript:void(0);" class="social-info">
											<span class="fa-regular fa-heart"></span>
											<p class="hover-text">Wishlist</p>
										</a>
										<a href="/singleProduct?id=<%= products[i]._id %>" class="social-info">
											<span class="fa-solid fa-maximize"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
							</div>
						</div> 
					<% } %>
					<% } %>
					
				</div>
			</div>
		</div>
		
	</section>
	<!-- end product Area -->

	

<br><br>

	<% if(products && products.length > 0){ %>
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Discover exclusive savings on top products with our Deals of the Week. Limited-time offers on must-have items await. 
							Shop now and save!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<% for(let i = 0 ; i< 9 && i< products.length ; i++){ %>
							<% if(products[i].offer.length > 0){ %> 
								<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
									<div class="single-related-product d-flex">
										<a href="/singleProduct?id=<%= products[i]._id %>"><img src="/assets/categoryImg/<%= products[i].image[0] %>" width="80px" height="80px" style="border-radius: 7px;" alt=""></a>
										<div class="desc">
											<a href="/singleProduct?id=<%= products[i]._id %>" class="title"><%= products[i].productName %></a>
											<div class="price">
												<h6>₹ <%= products[i].discountPrice %></h6>
												<h6 class="l-through">₹ <%= products[i].price %></h6>
											</div>
										</div>
									</div>
								</div>
						<% } %>
						<% } %>

					</div>
				</div>
			</div>
		</div>
	</section>
	<% } %>
	<!-- start footer Area -->
	<%- include('../layouts/footerPage') %>


	

	<script src="/js/helperFunctions.js"></script>

<%- include('../layouts/footer') %>
