<%- include('../layouts/header') %>
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/orderTrack.css">
<body>
    
    <header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box1">
				<div class="container">

 					<a class="navbar-brand logo_h" href="/home"><img src="/assets/img/logoWhite.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link1" href="/home">Home</a></li>
							<li class="nav-item"><a class="nav-link1" href="/shop">Product</a></li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><%=locals.user?locals.user.Fname:'Login'%></a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/profileDetails?id=<%= user._id %>">My Profile</a></li>
									<li class="nav-item"><a class="nav-link" href="/orders?id=<%= user._id %>">Orders</a></li>
									<li class="nav-item"><a class="nav-link" href="/wishlist?id=<%= user._id %>">Wishlist</a></li>
									<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></span></a></li>
							<li class="nav-item">
								<button class="search"><span id="search"><i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span id="close_search" title="Close Search"><i class="fa-solid fa-magnifying-glass"></i></span>
				</form>
			</div>
		</div>
	</header>
    <br><br>		<br><br>

    
    <section class="order_details section_gap mt-8 ">
		<div class="row d-flex justify-content-center align-items-center">
			<div class="tracker  mt-10 ">
				<input type="hidden" id="orderStatus" value="<%= orders.orderStatus %>">
				<div class="progress"></div>

				<div class="step active" id="pending">
					<div class="bullet">1</div>
					<div class="text">Pending</div>
				</div>
				<div class="step" id="delivered">
					<div class="bullet">2</div>
					<div class="text">Delivered</div>
				</div>
				<div class="step" id="completed">
					<div class="bullet">3</div>
					<div class="text status" data-status="<%= orders.orderStatus %>">Completed</div>
				</div>
			</div>
		</div>
		<br><br><br><br>
		<div class="container">
			<div class="row order_d_inner mt-10">
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Date</span> : <%= new Date(orders.orderDate).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }) %></a></li>
							<li><a href="#"><span>Total Amount</span> : ₹ <%= orders.totalAmount %></a></li>
							<li><a href="#"><span>Payment method</span> : <%= orders.paymentMethod %></a></li>
							<li><a href="#"><span>Order Status</span> : <%= orders.orderStatus %></a></li>
						</ul>
					</div>
				</div> 
				
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Name</span> : <%= orders.address.Name %></a></li>
							<li><a href="#"><span>City</span> : <%= orders.address.city %></a></li>
							<li><a href="#"><span>Country</span> : <%= orders.address.state %></a></li>
							<li><a href="#"><span>Postcode </span> : <%= orders.address.PIN %></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<% if(orders) { %> 
									<% for (let i = 0 ; i < orders.orderItems.length ; i++) { %> 
								<td>
									<a href="/singleProduct?id=<%= orders.orderItems[i].productId %>" class="text-dark"><p><%= orders.orderItems[i].productName %></p></a>
								</td>
								<td>
									<h5>x <%= orders.orderItems[i].quantity %></h5>
								</td>
								<td>
									<p>₹ <%= orders.orderItems[i].discountPrice %></p>
								</td>
							</tr>
							<% } %>
							<tr>
								<td>
									<h4>Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>₹ <%= orders.totalAmount-60 %></p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Shipping</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>₹ 60.00</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>₹ <%= orders.totalAmount %></p>
								</td>
								
								<% } %>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	
   <script>
	document.addEventListener('DOMContentLoaded', function() {
		var status = document.getElementById('orderStatus').value;
		updateOrderStatus(status); 
	});

	function updateOrderStatus(status) {
		const steps = document.querySelectorAll('.step');
		const progress = document.querySelector('.progress');

		steps.forEach(step => step.classList.remove('active'));
		progress.classList.remove('red');

		switch (status) {
			case 'order confirmed':
				steps[0].classList.add('active');
				progress.style.width = '33.3333%';
				break;
			case 'delivered':
				steps[0].classList.add('active');
				steps[1].classList.add('active');
				progress.style.width = '66.6666%';
				break;
			case 'completed':
				steps.forEach(step => step.classList.add('active'));
				progress.style.width = '100%';
				break;
			case 'cancelled':
			case 'returned':
			case 'Requested for Return':
				progress.style.width = '100%';
				progress.classList.add('red');
				break;
			default:
				progress.style.width = '0%'; 
		}
	}


	// status change

	document.addEventListener("DOMContentLoaded", function() {
			const statuses = document.querySelectorAll('.status');

			statuses.forEach((statusElement) => {
				const status = statusElement.getAttribute('data-status');

				switch(status) {
					case 'cancelled':
						statusElement.innerHTML ='Order Cancelled';
						statusElement.style.color = 'red';
						break;
					case 'completed':
						statusElement.innerHTML ='Order Completed';
						statusElement.style.color = 'green';
						break;
					case 'returned':
						statusElement.innerHTML ='The Product Returned';
						statusElement.style.color = 'red';
						break;
					case 'Requested for Return':
						statusElement.innerHTML ='Requested for Return';
						statusElement.style.color = 'red';
						break;
				}
			});
		});
   </script>

<%- include('../layouts/footer') %>