<%- include('../layouts/header') %>

<link rel="stylesheet" href="/css/cart/magnific-popup.css">
<link rel="stylesheet" href="/css/cart/main.css">
<link rel="stylesheet" href="/css/cart/responsive.css">

<body id="category">
	<link rel="stylesheet" href="css/main.css">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<a class="navbar-brand logo_h" href="/home"><img src="/assets/img/logoZephyr.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/shop">Product</a></li>
	
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><%=locals.user?locals.user.Fname:'Login'%></a>
								<ul class="dropdown-menu">
									<% if (locals.user) { %>
										<li class="nav-item"><a class="nav-link" href="/profileDetails?id=<%= user._id %>">My Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="/orders?id=<%= user._id %>">Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/wishlist?id=<%= user._id %>">Wishlist</a></li>
										<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
									<% }else{ %>
										<li class="nav-item"><a class="nav-link" href="/profileDetails">My Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="">Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/wishlist">Wishlist</a></li>
										<li class="nav-item"><a class="nav-link" href="/register">Signup</a></li>
									<% } %>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span><i class="fa-solid fa-cart-shopping"></i></span></a></li>
							<li class="nav-item">
								<button class="search"><span id="search"><i class="fa-solid fa-magnifying-glass"></i></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span id="close_search" title="Close Search"><i class="fa-solid fa-magnifying-glass"></i></span>				
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>ORDERS</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="">Orders<span class="lnr lnr-arrow-right"></span></a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<div class="container">
		<div class="row justify-content-center">
			<% if(orders.length > 0){ %> 
				<% for(let i = 0 ; i < orders.length ; i++){ %> 
					<div class="card col-lg-12 mb-3">
						<div class="card-body row">
							<div class="col-lg-2">
								<div style="height: 5em; width: 5em;  background-color: black;">
									<img src="/assets/categoryImg/<%= orders[i].orderItems[0].image[0] %>" style="height: 5em; width: 5em;" alt="">
								</div>
								
							</div>
							<div class="col-lg-5">
								<% for (let j =0 ; j < orders[i].orderItems.length ; j++ ){ %> 
									<a href="/orderDetails?orderId=<%= orders[i]._id %>">
										<h5><%= orders[i].orderItems[j].productName %></h5>
									</a>
									<p><%= new Date(orders[i].orderDate).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }) %></p>
								<% } %>
							</div>
							<div class="col-lg-3">
								<h5>₹ <%= orders[i].totalAmount %></h5>
							</div>
							<div class="col-lg-2">
								<p class="status" data-status="<%= orders[i].orderStatus %>"><i class="fa-solid fa-circle-dot"></i> </p>
								<% if(orders[i].orderStatus === "order confirmed") { %> 
									<button type="button" class="genric-btn danger radius" onclick="cancelOrder('<%= orders[i]._id %>')">cancel</button>
								<% }else if(orders[i].orderStatus === "delivered"){ %> 
									<button type="button" class="genric-btn danger radius" onclick="returnOrder('<%= orders[i]._id %>')">Return</button>
								<% }else if(orders[i].orderStatus === "pending"){ %> 
									<button type="button" class="genric-btn primary radius payAgainButton" data-order-id="<%= orders[i]._id %>">Pay Again</button>
									<% } %>
							</div>
						</div> 
					</div>
				<% } %>
			<% }else{ %> 
				<div class="container-fluid  mt-50">
					<div class="row">
						<div class="col-md-12">
							<div class="card-body cart">
								<div class="col-sm-12 empty-cart-cls text-center">
									<img src="https://i.imgur.com/dCdflKN.png" width="130" height="130" class="img-fluid mb-4 mr-3">
									<h3><strong>Whoa, it's pretty empty in here!</strong></h3>
									<h4>Looks like your order list is on a vacation! Time to shop and bring it back to work?</h4>
									<a href="/shop" class="btn btn-primary cart-btn-transform m-3" data-abc="true">continue shopping</a>			   	   
								</div>
							</div>
						</div>
					</div>
				</div>
			<%} %>
		</div>

		<div class="filter-bar d-flex flex-wrap align-items-center">
			<div class="sorting mr-auto">
			</div>
			<div class="pagination">
				<% if (currentPage > 1) { %>
					<a href="orders?id=<%= user._id %>&page=<%= currentPage - 1 %>" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
				<% } else { %> 
					<a href=" " class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
				<% } %>
				<% for (let i = 1; i <= totalPages; i++) { %>
					<a href="orders?id=<%= user._id %>&page=<%= i %>"" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
				<% } %>
				<% if (currentPage < totalPages) { %>
					<a href="orders?id=<%= user._id %>&page=<%= currentPage + 1 %>" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				<% } else { %>
					<a href=" " class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
				<% } %>
			</div>
		</div>
	</div>
	
	

	<!-- start footer Area -->
	<br>
	<%- include('../layouts/footerPage') %>


	<script>
		document.addEventListener("DOMContentLoaded", function() {
			const statuses = document.querySelectorAll('.status');

			statuses.forEach((statusElement) => {
				const status = statusElement.getAttribute('data-status');
				let iconHTML = '<i class="fa-solid fa-circle-dot"></i> ';

				switch(status) {
					case 'order confirmed':
						statusElement.innerHTML = iconHTML + 'On Delivery';
						statusElement.style.color = 'blue';
						break;
					case 'cancelled':
						statusElement.innerHTML = iconHTML + 'Order Cancelled';
						statusElement.style.color = 'red';
						break;
					case 'delivered':
					case 'completed':
						statusElement.innerHTML = iconHTML + 'Product Deliverd';
						statusElement.style.color = 'green';
						break;
					case 'returned':
						statusElement.innerHTML = iconHTML + 'The Product Returned';
						statusElement.style.color = 'red';
						break;
					case 'Requested for Return':
						statusElement.innerHTML = iconHTML + 'Requested for Return';
						statusElement.style.color = 'red';
					break;
					case 'pending':
						statusElement.innerHTML = iconHTML + 'Payment Incomplete';
						statusElement.style.color = 'red';
						break;
				}
			});
		});


		// cancell order function

		function cancelOrder(orderId) {
			Swal.fire({
			title: "Are you sure?",
			text: "You won't be able to revert this!",
			icon: "warning",
			showCancelButton: "Yes, Cancel Order",
			cancelButtonText: "No, cancel!",
			reverseButtons: true
			}).then((result) => {
			if (result.isConfirmed) {
				fetch(`/cancelOrder?orderId=${orderId}`, {
				method: 'GET' 
				})
				.then(response => {
				if (response.ok) {
					Swal.fire({
					title: "Order Cancelled",
					text: "The Order has been Cancelled.",
					icon: "success"
					})
					.then(() => {
						window.location.reload();
					});
				} else {
					Swal.fire({
					title: "Error",
					text: "An error occurred while Cancel Order.",
					icon: "error"
					});
				}
				})
				.catch(error => {
				
				console.error("Error:", error);
				Swal.fire({
					title: "Error",
					text: "An error occurred while Cancel Order.",
					icon: "error"
				});
				});
			}
			});
		}

		// return order

		function returnOrder(orderId) {
			Swal.fire({
				title: 'Return Order',
				input: 'textarea',
				inputPlaceholder: 'Type your reason here...',
				inputAttributes: {
					'aria-label': 'Type your reason here'
				},
				showCancelButton: true,
				confirmButtonText: 'Submit',
				cancelButtonText: 'Cancel',
				inputValidator: (value) => {
					if (!value) {
						return 'You need to write something!';
					}
				}
			}).then((result) => {
				if (result.isConfirmed && result.value) {
					fetch('/returnOrder', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({
							orderId: orderId,
							reason: result.value
						})
					})
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok');
						}
						return response.json();
					})
					.then(data => {
						Swal.fire('Submitted!', 'Your return request has been submitted.', 'success').then(() => {
							window.location.reload(); 
						});
					})
					.catch(error => {
						console.error('Error returning the order:', error);
						Swal.fire('Failed!', 'Your return request could not be processed.', 'error');
					});
				}
			});
		}


		// contineu order

		document.addEventListener("DOMContentLoaded", function() {
			var payAgainButtons = document.querySelectorAll('.payAgainButton');
			payAgainButtons.forEach(function(button) {
				button.addEventListener('click', function() {
					var orderId = this.getAttribute('data-order-id');
					initiatePayment(orderId);
				});
			});
		});

		function initiatePayment(orderId) {
			fetch('/getPaymentDetails', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({ orderId: orderId })
			})
			.then(response => response.json())
			.then(data => {
				if (data.success) {
					openRazorpay(data);
				} else {
					Swal.fire('Error', 'Failed to fetch payment details', 'error');
				}
			})
			.catch(error => {
				console.error('Error:', error);
				Swal.fire('Error', 'Network Error. Try again.', 'error');
			});
		}

		function openRazorpay(data) {
			var options = {
				"key": data.key_id,
				"amount": data.amount,
				"currency": "INR",
				"name": "Zephyr",
				"description": "Transaction Description",
				"image": "https://example.com/your_logo",
				"order_id": data.razorpayOrderId,
				"handler": function (response) {
					verifyPayment(response.razorpay_payment_id, data.orderId, response.razorpay_signature);
				},
				"prefill": {
					"name": "Customer Name",
					"email": "customer_email@example.com",
					"contact": "customer_phone"
				},
				"theme": {
					"color": "#192e68"
				}
			};
			var rzp = new Razorpay(options);
			rzp.open();
		}

		function verifyPayment(paymentId, orderId, signature) {
			fetch('/verifyPayment', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					paymentId: paymentId,
					orderId: orderId,
					razorpaySignature: signature
				})
			})
			.then(response => response.json())
			.then(data => {
				if (data.success) {
					Swal.fire({
						title: "Payment Successful",
						text: "Your payment has been successfully processed.",
						icon: "success"
					}).then(() => {
						window.location.href = `/orderDetails?orderId=${orderId}`;
					});
				} else {
					Swal.fire('Error', 'Payment verification failed. Please try again.', 'error');
				}
			})
			.catch(error => {
				console.error('Error:', error);
				Swal.fire('Error', 'Network Error. Try again.', 'error');
			});
		}


	</script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>



<%- include('../layouts/footer') %>