<%- include('../layouts/header') %>

<body id="category">
	<link rel="stylesheet" href="css/main.css">

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<a class="navbar-brand logo_h" href="/home"><img src="/assets/img/logoZephyr.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
							<li class="nav-item active"><a class="nav-link" href="">Product</a></li>
	
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><%=locals.user?locals.user.Fname:'Login'%></a>
								<ul class="dropdown-menu">
									<% if (locals.user) { %>
										<li class="nav-item"><a class="nav-link" href="/profileDetails?id=<%= user._id %>">My Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="/orders?id=<%= user._id %>">Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/wishlist?id=<%= user._id %>">Wishlist</a></li>
										<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
									<% }else{ %>
										<li class="nav-item"><a class="nav-link" href="/profileDetails">My Profile</a></li>
										<li class="nav-item"><a class="nav-link" href="/orders">Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/wishlist">Wishlist</a></li>
										<li class="nav-item"><a class="nav-link" href="/register">Signup</a></li>
									<% } %>
								</ul>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item"><a href="/cart" class="cart"><span><i class="fa-solid fa-cart-shopping"></i></span></a></li>
							<li class="nav-item">
								<button class="search"><span id="search"><i class="fa-solid fa-magnifying-glass"></i></span></button>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between" action="/searchProduct" method="get">
					<input type="text" class="form-control" id="search_input" name="search" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span id="close_search" title="Close Search"><i class="fa-solid fa-magnifying-glass"></i></span>				
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Find Your Own style</h1>
					<nav class="d-flex align-items-center">
						<a href="/home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting">
						<form action="/filterByPrice" method="GET" id="priceFilterForm">
							<select name="sortBy" onchange="submitForm('priceFilterForm')">
								<option value="relevance">Relevance</option>
								<option value="lowToHigh">Price-Low to High</option>
								<option value="highToLow">Price-High to Low</option>
								<option value="newestFirst">Newest First</option>
							</select>
						</form>
					</div>
					<div class="sorting">
						<form action="/filterByCategory" method="GET" id="categoryFilterForm">
							<select name="sortBy" onchange="submitForm('categoryFilterForm')">
								<option value="allProduct">Categories</option>
								<% for(let i=0 ; i< category.length ; i++){ %> 
									<option value="<%= category[i].name%>"><%= category[i].name %></option>
								<% } %>
							</select>
					    </form>
					</div>
					
					<div class="sorting">
						<form action="/filterByColor" method="GET" id="colorFilterForm">
							<select name="sortBy" onchange="submitForm('colorFilterForm')">
								<option value="allProduct">Color</option>
								<% for (let i = 0 ; i < color.length ; i++) { %> 
									<option value="<%= color[i] %>"><%= color[i] %></option>
								<% } %>
							</select>
						</form>
					</div>
					<div class="sorting mr-auto">
						<form action="/filterByBrand" method="GET" id="brandFilterForm">
							<select name="sortBy" onchange="submitForm('brandFilterForm')">
								<option value="allProduct">Brand</option>
								<% for (let i = 0 ; i < brand.length ; i++) { %> 
									<option value="<%= brand[i] %>"><%= brand[i] %></option>
								<% } %>
							</select>
					    </form>
					</div>
		
					<div class="pagination">
						<% if (currentPage > 1) { %>
							<a href="/shop?page=<%= currentPage - 1 %>" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<% } else { %> 
							<a href=" " class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<% } %>
						<% for (let i = 1; i <= totalPages; i++) { %>
							<a href="/shop?page=<%= i %>"" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
						<% } %>
						<% if (currentPage < totalPages) { %>
							<a href="/shop?page=<%= currentPage + 1 %>" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<% } else { %>
							<a href="" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<% } %>
					</div>
				</div>
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<% if (products.length > 0){ %> 

						<% for(let i = 0 ; i< products.length && i < 9 ; i++){ %>
							<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-6 col-xs-6">
								<div class="single-product">
									<img class="img-fluid" style="width: 250px; height: 250px;" src="/assets/categoryImg/<%= products[i].image[0] %>" alt="">
									<div class="product-details">
										<h6><%= products[i].productName %></h6>
										<div class="price">
											<h6>₹ <%= products[i].discountPrice %></h6>
											<h6 class="l-through">₹ <%= products[i].price %></h6>
										</div>
										<div class="prd-bottom">
											<a onclick="addToCart(event, '<%= products[i]._id %>')" href="javascript:void(0);" class="social-info">
												<span class="fa-solid fa-cart-shopping"></span>
												<p class="hover-text">add to cart</p>
											</a>
											<a onclick="addToWishlist(event, '<%= products[i]._id %>')" href="javascript:void(0);" class="social-info">
												<span class="fa-regular fa-heart"></span>
												<p class="hover-text">Wishlist</p>
											</a>
											<a href="/singleProduct?id=<%= products[i]._id %>" class="social-info">
												<span class="fa-solid fa-maximize"></span>
												<p class="hover-text">view more</p>
											</a>
										</div>
									</div>
								</div>
							</div>
							
						<% } %>
						<% }else { %>
							<h3 class="text-danger mt-10" style="display: flex; align-items: center; justify-content: center;">No Product Found</h3>
						<% } %>
						
						
						<!-- single product -->
					</div>
				</section>
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
					</div>
					<div class="pagination">
						<% if (currentPage > 1) { %>
							<a href="/shop?page=<%= currentPage - 1 %>" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<% } else { %> 
							<a href=" " class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<% } %>
						<% for (let i = 1; i <= totalPages; i++) { %>
							<a href="/shop?page=<%= i %>"" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
						<% } %>
						<% if (currentPage < totalPages) { %>
							<a href="/shop?page=<%= currentPage + 1 %>" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<% } else { %>
							<a href=" " class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
						<% } %>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r1.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r2.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r3.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r5.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r6.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r7.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r9.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r10.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="/assets/img/r11.jpg" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="/assets/img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>About</h6>
						<p><a class="About" href="">About Us</a></p>
						<p><a class="About" href="">Contact Us</a></p>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">

							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
							 method="get" class="form-inline">

								<div class="d-flex flex-row">

									<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '"
									 required="" type="email">


									<button class="click-btn btn btn-default"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
									<div style="position: absolute; left: -5000px;">
										<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
									</div>

								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="/assets/img/i1.jpg" alt=""></li>
							<li><img src="/assets/img/i2.jpg" alt=""></li>
							<li><img src="/assets/img/i3.jpg" alt=""></li>
							<li><img src="/assets/img/i4.jpg" alt=""></li>
							<li><img src="/assets/img/i5.jpg" alt=""></li>
							<li><img src="/assets/img/i6.jpg" alt=""></li>
							<li><img src="/assets/img/i7.jpg" alt=""></li>
							<li><img src="/assets/img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
				<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
&copy;<script>document.write(new Date().getFullYear());</script> - Zephyr
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

<script>
    function submitForm(formId) {
        document.getElementById(formId).submit();
    }
</script>

<!-- helper function -->
<script src="/js/helperFunctions.js"></script>


<%- include('../layouts/footer') %>