<%- include('../layouts/adminHeader') %>
         <link rel="stylesheet" href="/css/style3.css">

    <body>

        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="/assets/img/logoZephyr.png"  class="d-inline-block align-top" alt="">
          </a>
          <a href="/admin/offerManagement"><button class="btn btn-secondary mr-3">Go Back</button></a>
        </nav>
        
        <div class="container">
          <div class="row justify-content-center form-container">
            <div class="col-md-6">
              <h2 class="text-center mb-4 text-info">ADD OFFER</h2>
              <form action="/admin/addOffer" method="post" id="myForm" >
                <div class="form-group">
                  <label for="copenCode">Offer Name</label>
                  <input type="text" class="form-control" id="offer"  name="offer" placeholder="Enter Offen Name" required>
                </div>
                <div class="form-group">
                  <label for="offerType">Offer Type</label>
                  <select class="form-control" name="offerType" id="offerType" aria-label="Default select" onchange="toggleVisibility(this.value)">
                    <option value="" selected>Select Offer Type</option>
                    <option value="Product Offer">Product Offer</option>
                    <option value="Category Offer">Category Offer</option>
                  </select>
                </div>
                <div class="form-group" id="productList" style="display: none;">
                  <label for="Pname">Product Name</label>
                  <select class="form-control" name="Pname" id="Pname" aria-label="Default select example" >
                    <% for(let i=0; i< products.length; i++){ %> 
                      <option value="<%= products[i].productName %>"><%= products[i].productName %></option>
                 <% } %>
                  </select>
                </div>
                <div class="form-groups" id="categoryList" style="display: none;">
                  <label for="category">Category</label>
                  <select name="category" class="form-control" id="category" >
                      <% for(let i=0; i< categorys.length; i++){ %> 
                          <option value="<%= categorys[i].name %>"><%= categorys[i].name %></option>
                     <% } %>
                  </select>
                </div>

                <div class="form-group">
                    <label for="expiredDate">Expire Date</label>
                    <input type="date" class="form-control" id="expiredDate" name="expiredate" placeholder="Enter expiredDate" >
                </div>
                <div class="row">
                    <div class="form-group col-lg-6">
                      <label for="discount">Discount (%)</label>
                      <input type="number" class="form-control" id="discount" name="discount" placeholder="Enter Discount" min="1" max="99" >
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="maxRedimabelAmount">Maximum Redimabel Amount</label>
                        <input type="number" class="form-control" id="maxRedimabelAmount" name="maxRedimabelAmount" placeholder="Enter Maximum Redimabel Amount" min="10" >
                    </div>
                </div>
                <div class="row">
                  <div class="form-group col-lg-8 text-center mt-4">
                    <button type="submit" class="btn btn-info btn-lg btn-block">Add Offer</button>
                  </div>
                  <div class="form-group col-lg-4 text-center mt-4">
                    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="clearForm()">Cancel</button>
                  </div>
              </div>
              </form>
              <div id="validationMessages" class="alert alert-danger" role="alert" style="display: none;"></div><br>
              <% if(typeof message !== "undefined"){
                %>
                <p style="color: brown;"><%=message%></p> 
                <%
              }
              %>
            </div>
          </div>
        </div>
      
        <script>
          function toggleVisibility(selectedValue) {
              var offerType = document.getElementById('offerType').value;
              var productList = document.getElementById('productList');
              var categoryList = document.getElementById('categoryList');
          
              productList.style.display = 'none';
              categoryList.style.display = 'none';

              if (selectedValue === 'Product Offer') {
                productList.style.display = 'block';
              } else if (selectedValue === 'Category Offer') {
                categoryList.style.display = 'block';
              }
          }


          document.getElementById('myForm').addEventListener('submit', function(event) {
          event.preventDefault();
          if(!offerFormValidation()){
            return;
          }
          const form = document.getElementById('myForm');
            const formData = new FormData(form);
            const jsonObject = {};
            formData.forEach((value, key) => {
              jsonObject[key] = value;
            });

            fetch('/admin/addOffer', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonObject)
            })
            .then(response => response.json())
            .then(data => {
              if (data.success) {
                  Swal.fire({
                      title: "New Offer Added",
                      text: "New Offer Added Successfully",
                      icon: "success"
                  }).then(() => {
                      window.location.href = `/admin/offerManagement`; 
                  });
              } else {
                const validationMessage = document.getElementById('validationMessages')
                validationMessage.style.display = 'block'
                validationMessage.innerHTML = `${data.message}`
              }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error Adding Offe');
            });
      });


          
    function offerFormValidation(){
        const validationMessage = document.getElementById('validationMessages')
        var expiredDate = document.getElementById('expiredDate').value;
        var discount = document.getElementById('discount').value

        var currentDate = new Date().toISOString().split('T')[0]; 

            
            if (expiredDate < currentDate) {
                validationMessage.style.display = 'block'
                validationMessage.innerHTML += 'Dates cannot be in the future.';
                return false;
            }else if(discount > 99 || discount < 5){
                validationMessage.style.display = 'block'
                validationMessage.innerHTML += 'Discount must be greater than 5 and less than 99';
                return false;
            }

            return true 

    }

      </script>

  <script src="/js/adminFormValidation.js"></script>

       

<%- include('../layouts/adminFooter') %>