<%- include('../layouts/adminHeader') %>
         <link rel="stylesheet" href="/css/style3.css">

    <body>

        <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="/assets/img/logoZephyr.png"  class="d-inline-block align-top" alt="">
          </a>
          <a href="/admin/productManagement"><button class="btn btn-secondary mr-3">Go Back</button></a>
        </nav>
        
        <div class="container">
          <div class="row justify-content-center form-container">
            <div class="col-md-10">
              <h2 class="text-center mb-4 text-danger">Edit Product</h2>
              <form action="/admin/editProduct" method="post" id="myForm" enctype="multipart/form-data" onsubmit="return validateForm()">
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-groups">
                            <label for="categoryName">Product Name</label>
                            <input type="text" class="form-control" id="productName"  name="productName" value="<%=product.productName %>" >
                          </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-groups">
                            <label for="description">Brand Name</label>
                            <input type="text" class="form-control" id="brandName" name="brandName"  value="<%=product.brand %>" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-groups">
                            <label for="categoryName">Model</label>
                            <input type="text" class="form-control" id="model"  name="model" value="<%=product.model %>" >
                          </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-groups">
                            <label for="description">Category</label>
                            <select name="category" class="form-control" id="category">
                                <% for(let i=0; i< category.length; i++){ %> 
                                    <option value="<%=product.category %>"><%= category[i].name %></option>
                               <% } %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="form-groups">
                            <label for="categoryName">Dial Color</label>
                            <input type="text" class="form-control" id="dialColor"  name="dialColor" value="<%=product.dialColor %>" >
                          </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-groups">
                            <label for="description">Strap Color</label>
                            <input type="text" class="form-control" id="strapColor" name="strapColor" value="<%=product.strapColor %>">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-groups">
                            <label for="description">In Stock</label>
                            <input type="number" class="form-control" id="inStock" name="inStock" value="<%=product.inStock %>" min="0">
                            <input type="hidden" name="id" value="<%= product._id %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="form-groups">
                            <label for="categoryName">Original Price</label>
                            <input type="text" class="form-control" id="mrp"  name="mrp" value="<%=product.price %>">
                          </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-groups">
                            <label for="description">Discount Price</label>
                            <input type="text" class="form-control" id="discountPrice" name="discountPrice" value="<%=product.discountPrice %>" onkeyup="calculateDiscount()">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="form-groups">
                            <label for="description">Discount(%)</label>
                            <input type="number" class="form-control" id="discount" name="discount" value="<%=product.discount %>" readonly>
                        </div>
                    </div>
                </div>
                <div class=" mb-3">
                    <label for="categoryName">Description</label>
                    <input type="text" class="form-control" id="description"  name="description" value="<%=product.description %>">
                </div>
               
                <div class="image-upload-container">
                    <div>
                        <div class="image-box" onclick="triggerInput('file-input-1')">
                            <input type="file" id="file-input-1" name="productImage1" class="file-input" accept="image/png, image/jpeg, image/webp" style="display: none;" onchange="openCropper(event, 'preview-1')" >
                            <div class="image-preview" id="preview-1">
                                <% if (product.image[0]) { %>
                                    <img src="/assets/categoryImg/<%= product.image[0] %>" style="height: 250px; width: 250px;" class="img-preview">
                                <% } else { %>
                                    <i class="fa fa-image"></i>
                                <% } %>
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark btn-block" onclick="removeImage('<%= product._id %>','preview-1', 0)">Remove Image</button>
                    </div>
                    <div>
                        <div class="image-box" onclick="triggerInput('file-input-2')">
                            <input type="file" id="file-input-2" name="productImage2" class="file-input" accept="image/png, image/jpeg, image/webp" style="display: none;" onchange="openCropper(event, 'preview-2')" >
                            <div class="image-preview" id="preview-2">
                                <% if (product.image[1]) { %>
                                    <img src="/assets/categoryImg/<%= product.image[1] %>" style="height: 250px; width: 250px;"  class="img-preview">
                                <% } else { %>
                                    <i class="fa fa-image"></i>
                                <% } %>
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark btn-block" onclick="removeImage('preview-2', 1)">Remove Image</button>
                    </div>
                    <div>
                        <div class="image-box" onclick="triggerInput('file-input-3')">
                            <input type="file" id="file-input-3" name="productImage3" class="file-input" accept="image/png, image/jpeg, image/webp" style="display: none;" onchange="openCropper(event, 'preview-3')">
                            <div class="image-preview" id="preview-3">
                            <% if (product.image[2]) { %>
                                    <img src="/assets/categoryImg/<%= product.image[2] %>" style="height: 250px; width: 250px;"  class="img-preview">
                                <% } else { %>
                                    <i class="fa fa-image"></i>
                                <% } %>
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark btn-block" onclick="removeImage('preview-3', 2)">Remove Image</button>
                    </div>
                    <div>
                        <div class="image-box" onclick="triggerInput('file-input-4')">
                            <input type="file" id="file-input-4" name="productImage4" class="file-input" accept="image/png, image/jpeg, image/webp" style="display: none;" onchange="openCropper(event, 'preview-4')">
                            <div class="image-preview" id="preview-4">
                            <% if (product.image[3]) { %>
                                    <img src="/assets/categoryImg/<%= product.image[3] %>" style="height: 250px; width: 250px;"  class="img-preview">
                                <% } else { %>
                                    <i class="fa fa-image"></i>
                                <% } %>
                            </div>
                        </div>
                        <button type="button" class="btn btn-dark btn-block" onclick="removeImage('preview-4', 3)">Remove Image</button>
                    </div>
                </div>
            
                <!-- Cropper Modal -->
                <div id="cropperModal" style="display: none;">
                    <img id="image-to-crop">
                    <button type="button" class="btn btn-success" onclick="cropImage()">Crop Image</button>
                    <button type="button" class="btn btn-danger" onclick="closeCropper()">Cancel</button>
                </div>
                <!-- enddddd -->
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-info btn-lg btn-block" id="sbmtbtn">Edit Product</button>
                </div>
              </form>
              <br>
              <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="clearForm()">Cancel</button>
              <br>
              <div id="validationMessages" class="alert alert-danger" role="alert" style="display: none;"></div><br>
              <% if(typeof message !== "undefined"){ %>
                
                <p style="color: brown;"><%=message%></p> 
                
                <% }  %>
             
            </div>
          </div>
        </div>
  
<script>
    let currentPreviewId;
        let cropper;

        function triggerInput(inputId) {
            document.getElementById(inputId).click();
        }

        function openCropper(event, previewId) {
            const file = event.target.files[0];
            if (file && file.type.startsWith('image/')) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const modal = document.getElementById('cropperModal');
                    modal.style.display = 'block';
                    const imageElement = document.getElementById('image-to-crop');
                    imageElement.src = e.target.result;
                    currentPreviewId = previewId;  

                    if (cropper) {
                        cropper.destroy();
                    }
                    cropper = new Cropper(imageElement, {
                        aspectRatio: 1,
                        viewMode: 1
                    });
                };
                reader.readAsDataURL(file);
            }
        }


        function cropImage() {
            const canvas = cropper.getCroppedCanvas();
            const preview = document.getElementById(currentPreviewId);
            console.log(currentPreviewId);
            preview.style.backgroundImage = 'url(' + canvas.toDataURL() + ')';
            preview.innerHTML = `<i class="fa-regular fa-circle-xmark remove-icon" onclick="removeImage('${currentPreviewId}')"></i>`;
            closeCropper();
        }

        function closeCropper() {
            cropper.destroy();
            document.getElementById('cropperModal').style.display = 'none';
        }

        function removeImage(previewId) {
            const preview = document.getElementById(previewId);
            preview.style.backgroundImage = 'none';
            preview.innerHTML = '<i class="fa fa-image"></i>';
        }

        // remove image
        function removeImage(productId, previewId, imageIndex) {
            $.ajax({
                url: '/admin/removeProductImage',
                type: 'POST',
                data: JSON.stringify({ productId: productId, imageIndex: imageIndex }),
                contentType: 'application/json; charset=utf-8',
                success: function(result) {
                    // On success, update the UI
                    const preview = document.getElementById(previewId);
                    preview.style.backgroundImage = 'none';
                    preview.innerHTML = '<i class="fa fa-image"></i>';
                },
                error: function(error) {
                    console.log('Error removing image:', error);
                }
            });
        }

        // edit Product
        document.getElementById('sbmtbtn').addEventListener('click', function(event) {
                  event.preventDefault();
                  if(!validateForm()){
                    return;
                  }
                  const form = document.getElementById('myForm');
                    const formData = new FormData(form);
        
                    fetch('/admin/editProduct', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                      if (data.success) {
                          Swal.fire({
                              title: "Product Edited",
                              text: "Product details Edited Successfully",
                              icon: "success"
                          }).then(() => {
                              window.location.href = `/admin/productManagement`; 
                          });
                      } else {
                        const validationMessage = document.getElementById('validationMessages')
                        validationMessage.style.display = 'block'
                        validationMessage.innerHTML = `${data.message}`
                      }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Error Editing Product');
                    });
              });
        

</script>
<script src="/js/adminFormValidation.js"></script>


<%- include('../layouts/adminFooter') %>